{
  "presets": [
    [
      "env",
      {
        "targets": { "browsers": ["firefox >= 52"] },
        "useBuiltIns": true,
        "modules": false,
        "loose": true
      }
    ]
  ],
  "plugins": [["transform-react-jsx", { "pragma": "h" }]]
}
